body {
    margin: 1%;

}

.navbar > .navbar-menu > .navbar-start > .navbar-item:hover {
    color: black;
    background-color: white;
    border: 0px solid #385218;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px #79E0B3;
    text-decoration: underline;
}

.navbar > .navbar-menu > .navbar-start > .navbar-item > .navbar-link:hover {
    color: black;
    background-color: white;
    border: 0px solid #8cff00;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px #79E0B3;
}

.navbar-brand {
    color: initial;
    background-color: white;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

