<%- include('header') %>
<div class="ui content">
    <div class="ui negative message">
        <div class="header">
            Votre requête n'a pas pu aboutir !
        </div>
        <p>
            Aucune information n'est disponible pour le moment
        </p>
    </div>

</div>

<%- include('footer') %>