<%- include('header') %>
    <div class="p-2 is-responsive">
        <div class="container section">
            <div class="message is-danger">
                <div class="message-body">
                    <p class="has-text-weight-bold"> Votre requête n'a pas pu aboutir ! </p>
                    <p> Aucune information n'est disponible pour le moment </p>
                </div>
            </div>
        </div>
    </div>
<%- include('footer') %>