<!-- Page d'accueil du site avec toutes les vues --> 

<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/css/bulma-extensions.min.css">

    <link rel="canonical" href="https://bulma.io/documentation/components/navbar/">
    <link rel="stylesheet" href="/css/style.css">
    <title> Patients </title>
</head>
<body>
    <div class="card">
        <div class="navbar is-outlined p-1">
            <div class="navbar-menu p-1">
                <div class="navbar-start">
                    <div class="navbar-brand">
                        <div class="navbar-item">
                            Logo
                        </div>
                    </div>
                    <a class="navbar-item" href="/">
                        Accueil
                    </a>

                    <a class="navbar-item" href="/medicaments/">
                        Médicaments
                    </a>

                    <a class="navbar-item" href="/patients/">
                        Patients
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Plus
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                Pathologies
                            </a>

                            <a class="navbar-item">
                                Médecins
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Contact
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">

                </div>
            </div>
        </div>
    </div>
