<!-- Page d'accueil des patients -->

<%- include('header') %>

    <div class="p-2 is-responsive">
        <div class="container section card">
            <h2 class="card-header-title title"> Recherche d'un patient : </h2>
            <form class="card-content" action="/patients/recherche_patient" method="get">
                <div class="has-addons field">
                    <div class="control">
                        <div class="select">
                            <select name="nom" id="nom">
                                <% patient.forEach((data) => { %>
                                    <option value="<%=data['id']%>">
                                        <%= data['nom'] %>
                                    </option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-info" type="submit"> Accéder </button>
                    </div>
                </div>
            </form>

            <div class="is-divider"></div>

            <h2 class="card-header-title title"> Ajout d'un patient : </h2>
            <div class="card-content">
                <div class="control">
                    <a href="/patients/insertion_patient">  <button class="button is-info" type="submit"> Ajout d'un patient </button> </a>
                </div>
            </div>

            <% if (patient.length > 0) { %>
                <div class="is-divider"></div>
                <h2 class="card-header-title title"> Listes des patients : </h2>
            <% } else { %>
                <div class="card-content">
                    <h2 class="card-header-title title"> Aucun patient </h2>
                </div>
            <% }%>
        </div>
    </div>


<%- include('footer') %>